body {
  background-color: black;
  color: white;
}

header {
  background-image: url(../img/fond.png);
}

header img {
  width: auto;
  text-align: center;
}

.about {
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  text-align: center;
  padding-top: 51,9152px;
  padding-bottom: 51,9152px;
  padding-left: 15,5575px;
  padding-top: 15,5575px;
}

.about h2 {
  font-family: ;
  font-size: 18px;
  color: #E6007E;
  padding-top: 17,454px;
}

.about p {
  font-family: ;
  font-size: 12px;
}

span {
  font-family: ;
}

.affiches {
  width: 20%;
}