body {
  background-color: black;
  color: white;
}

header {
  background-image: url(../img/fond.png);
  background-size: cover;
  background-position: center;
  padding: 130px 40px;
}

header img {
  text-align: center;
}

.about {
  border-radius: 35px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  font-family: europa, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 40px;
  margin-bottom: 100px;
  margin-top: 100px;
  text-align: justify;
}

.about h2 {
  font-family: europa, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
  color: #E6007E;
  text-transform: uppercase
}

span {
  font-family: europa, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.affiches img {
  width: 80%;
  margin: auto;
  padding-top: 79px;
  display: flex;
}

.grille {
  width: 80%;
  margin: auto;
  padding-top: 79px;
  padding-bottom: 79px;
}

.extra-light h3 {
  font-family: europa, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding-top: 33px;
  padding-left: 47px;
  color: #06DC6F;
}

.extra-light p {
  font-family: condor, sans-serif;
  font-weight: 200;
  font-style: normal;
  padding-bottom: 25px;
  font-size: 15px;
  padding-left: 47px;
}

.extra-light .font-tester {
  background: none;
  background-color: white;
  border: none;
  font-family: condor, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 18px;
  margin-left: 47px;
  margin-right: 47px;
  width: 90%;
  margin-bottom: 47px;
  margin-top: 0px;
}

.extra-light-italic h3 {
  font-family: europa, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding-left: 47px;
  color: #06DC6F;
}

.extra-light-italic p {
  font-family: condor, sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 15px;
  padding-bottom: 25px;
  padding-left: 47px;
}

.extra-light-italic .font-tester {
  background: none;
  background-color: white;
  border: none;
  font-family: condor, sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 18px;
  margin-left: 47px;
  margin-right: 47px;
  width: 90%;
  margin-bottom: 47px;
  margin-top: 0px;
}

.light h3 {
  font-family: europa, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding-left: 47px;
  color: #06DC6F;
}

.light p {
  font-family: condor, sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-bottom: 25px;
  font-size: 15px;
  padding-left: 47px;
}

.light .font-tester {
  background: none;
  background-color: white;
  border: none;
  font-family: condor, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-left: 47px;
  margin-right: 47px;
  width: 90%;
  margin-bottom: 47px;
  margin-top: 0px;
}

.light-italic h3 {
  font-family: europa, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding-left: 47px;
  color: #06DC6F;
}

.light-italic p {
  font-family: condor, sans-serif;
  font-weight: 300;
  font-style: italic;
  padding-bottom: 25px;
  font-size: 15px;
  padding-left: 47px;
}

.light-italic .font-tester {
  background: none;
  background-color: white;
  border: none;
  font-family: condor, sans-serif;
  font-weight: 300;
  font-style: italic;
  margin-left: 47px;
  margin-right: 47px;
  width: 90%;
  margin-bottom: 47px;
  margin-top: 0px;
}

.regular h3 {
  font-family: europa, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding-left: 47px;
  color: #06DC6F;
}

.regular p {
  font-family: condor, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 25px;
  font-size: 15px;
  padding-left: 47px;
}

.regular .font-tester {
  background: none;
  background-color: white;
  border: none;
  font-family: condor, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 47px;
  margin-right: 47px;
  width: 90%;
  margin-bottom: 47px;
  margin-top: 0px;
}

.medium h3 { 
  font-family: europa, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding-left: 47px;
  color: #06DC6F;
}

.medium p {
  font-family: condor, sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-bottom: 25px;
  font-size: 15px;
  padding-left: 47px;
}

.medium .font-tester {
  background: none;
  background-color: white;
  border: none;
  font-family: condor, sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-left: 47px;
  margin-right: 47px;
  width: 90%;
  margin-bottom: 47px;
  margin-top: 0px;
}

.medium-italic h3 {
  font-family: europa, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding-left: 47px;
  color: #06DC6F;
}

.medium-italic p {
  font-family: condor, sans-serif;
  font-weight: 500;
  font-style: italic;
  padding-bottom: 25px;
  font-size: 15px;
  padding-left: 47px;
}

.medium-italic .font-tester {
  background: none;
  background-color: white;
  border: none;
  font-family: condor, sans-serif;
  font-weight: 500;
  font-style: italic;
  margin-left: 47px;
  margin-right: 47px;
  width: 90%;
  margin-bottom: 47px;
  margin-top: 0px;
}

.bold h3 {
  font-family: europa, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding-left: 47px;
  color: #06DC6F;
}

.bold p {
  font-family: condor, sans-serif;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 25px;
  font-size: 13px;
  padding-left: 47px;
}

.bold .font-tester {
  background: none;
  background-color: white;
  border: none;
  font-family: condor, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 47px;
  margin-right: 47px;
  width: 90%;
  margin-bottom: 47px;
  margin-top: 0px;
}

.bold-italic h3 {
  font-family: europa, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding-left: 47px;
  color: #06DC6F;
}

.bold-italic p {
  font-family: condor, sans-serif;
  font-weight: 700;
  font-style: italic;
  padding-bottom: 25px;
  font-size: 15px;
  padding-left: 47px;
}

.bold-italic .font-tester {
  background: none;
  background-color: white;
  border: none;
  font-family: condor, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-left: 47px;
  margin-right: 47px;
  width: 90%;
  margin-bottom: 47px;
  margin-top: 0px;
}

.black h3 {
  font-family: europa, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding-left: 47px;
  color: #06DC6F;
}

.black p {
  font-family: condor, sans-serif;
  font-weight: 800;
  font-style: normal;
  padding-bottom: 25px;
  font-size: 15px;
  padding-left: 47px;
}

.black .font-tester {
  background: none;
  background-color: white;
  border: none;
  font-family: condor, sans-serif;
  font-weight: 800;
  font-style: normal;
  margin-left: 47px;
  margin-right: 47px;
  width: 90%;
  margin-bottom: 47px;
  margin-top: 0px;
}

.black-italic h3 {
  font-family: europa, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding-left: 47px;
  color: #06DC6F;
}

.black-italic p {
  font-family: condor, sans-serif;
  font-weight: 800;
  font-style: italic;
  padding-bottom: 25px;
  font-size: 15px;
  padding-left: 47px;
}

.black-italic .font-tester {
  background: none;
  background-color: white;
  border: none;
  font-family: condor, sans-serif;
  font-weight: 800;
  font-style: italic;
  margin-left: 47px;
  margin-right: 47px;
  width: 90%;
  margin-bottom: 47px;
  margin-top: 0px;
}

footer {
  background-image: url(../img/fond.png);
  background-size: cover;
  color: black;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding: 130px 40px;
}

footer a {
  font-size: 16px;
  font-family: europa, sans-serif;
  font-weight: 700;
  font-style: normal;
}

footer p {
  font-size: 16px;
  font-family: europa, sans-serif;
  font-weight: 700;
  font-style: normal;
}

footer img {
  width: 15%;
}

.button {
  display: flex;
  background: white;;
  font-size: 55px;
  font-family: europa, sans-serif;
  font-weight: 700;
  font-style: italic;
  width: 420px;
  height: 420px;
  border-radius: 250px;
  align-items: center;
  margin: 66px 272px;
  padding: 50px;
  text-transform: uppercase
}

font-tester focus {
  outline: 2px solid;
}

footer h3 {
  text-transform: uppercase;
  font-size: 40px;
  font-family: europa, sans-serif;
  font-weight: 700;
  font-style: italic;
  padding-bottom: 30px;
}
.perso {
  font-family: condor, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
}

.condor {
  font-family: condor, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 50px;
}